body{
    background-color: rgb(255, 255, 255) !important;
}
#global {

  }
.card{
    text-align: center;
    box-shadow: 1px 5px 12px 5px #000 ;
    border: solid black !important;
    vertical-align: top;
    margin: 3% ;
}
.button{
    border-radius: 25px;
    padding: 10px;
    width: 200px;
    height: 150px;
}
*{
    text-align: center;
}

@media (max-width:500px){
    .navbar{
        flex-direction: column;
        height:auto;
        padding: 20%;
    }
}
@media (max-width:1200px){
    .card{
        display:inline-table !important;
        margin-right: 10%;
    }
}

.toutdroite{
    align-items: right !important;
}
